@model FitnessCenterManagement.Models.Entities.Trainer

<h2>Yeni Trainer Ekle</h2>

<form asp-action="Create" method="post" class="w-50">
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label class="form-label">Ad</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Soyad</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Uzmanlıklar</label>
        <input asp-for="Specializations" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Aktif mi?</label>
        <input asp-for="IsActive" type="checkbox" />
    </div>

    <button class="btn btn-success">Kaydet</button>
</form>
