@model FitnessCenterManagement.Models.ViewModels.AppointmentCreateViewModel

@{
    ViewData["Title"] = "Randevu Oluştur";
}

<h2>Randevu Oluştur</h2>

<form asp-action="Create" method="post">

    <div>
        <label>Üye</label><br />
        <select asp-for="MemberId" asp-items="Model.Members">
            <option value="">-- Üye seçin --</option>
        </select>
    </div>

    <br />

    <div>
        <label>Antrenör</label><br />
        <select asp-for="TrainerId" asp-items="Model.Trainers">
            <option value="">-- Antrenör seçin --</option>
        </select>
    </div>

    <br />

    <div>
        <label>Hizmet</label><br />
        <select asp-for="ServiceTypeId" asp-items="Model.ServiceTypes">
            <option value="">-- Hizmet seçin --</option>
        </select>
    </div>

    <br />

    <div>
        <label>Başlangıç Tarih & Saat</label><br />
        <input asp-for="RequestedStartTime" type="datetime-local" />
    </div>

    <br />

    <button type="submit">Randevu Oluştur</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <p style="color:red;">Randevu oluşturulamadı.</p>
}
